<footer>
    @Flash All Rights Resevered
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/user/profile">Profile</a>
        </li>
    </ul>
</footer>