<link rel="stylesheet" href="/css/home.css">
<h1>
    Hello !! Welcome to <%= title %>
</h1>

<section>
    <h1>Posts</h1>
    <form action="/post/create" id="new-post" method="POST">
        <textarea name="feedPost" cols="30" rows="3"></textarea>
        <button type="submit">Post</button>
    </form>
    <ul>
        <% for(let i of postsList) { %>
            <li>
                <p>
                    <%= i.content %>
                    
                </p>
            </li>                   
        <% } %>
    </ul>
</section>