<link rel="stylesheet" href="/css/auth.css">
<div>
    <h1>Sign In</h1>
    <form action="/user/auth-user" method="POST">
        <input type="text" name="email" placeholder="Email" required>
        <input type="text" name="password" placeholder="Password" required>
        <button type="submit">Sign In</button>
    </form>
    <form action="/user/signup" method="">
        <button type="submit">Sign Up</button>
    </form>
</div>