footer{
    padding: 15px;
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        a{
            padding: 15px;
            text-decoration: none;
            color: black;
        }
    }
}